<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% autoescape %}
{% if not site_title %}{% set site_title = title %}{% endif %}
{% if not main_image %}{% set main_image = 'banner1.jpg' %}{% endif %}
<head>
<meta charset="utf-8">
<title>{% if site_title %}{{site_title}} - {% endif %}西亞加拉宇宙載具改裝中心：萬艦齊發系列遊戲資料主題網站</title>
<meta name="keywords" content="萬艦齊發,Homeworld,地動天驚,Cataclysm,萬艦齊發二,萬艦齊發2,Homeworld2,Homeworld 2,MOD">
<meta name="description" content="萬艦齊發系列資訊繁體中文網站、有各種遊戲相關資料、MOD教學、以及相關下載。">

<meta name="og:title" content="{{title}}">
<meta name="og:site_name" content="西亞加拉宇宙載具改裝中心">
<meta name="og:description" content="{{desc}}">
<meta name="og:locale" content="zh_TW" />
<meta name="og:image" content="/i/{{main_image}}">


<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/c/normalize.min.css">
<link rel="stylesheet" href="/c/main.css">
<link rel="shortcut icon" href="/i/favicon.png" />
<link rel="apple-touch-icon" href="/i/touch-icon.png" />
<style>#main_ban.ban:before{background-image: url('/i/{{main_image}}')}</style>

<script src="/j/modernizr-2.6.2.min.js"></script>
</head>
<body>
<div id="main_ban" class="ban {{head_ban.class|join(' ')}}">
<header>
<div class="wrapper">
<a href="/"><img id="logo" src="/i/logo.png" height="50px"></a>
<nav role="navigation">
<ul>
{# <li><a href="/game/about_game.htm">遊戲</a></li> #}
<li>故事
<ul class="w7">
<li><a href="/info/race/kushan_hiigaran.htm">庫沈/西亞加拉</a></li>
<li><a href="/info/race/taiidan.htm">泰丹</a></li>
<li><a href="/info/race/bentusi.htm">班圖西</a></li>
<li><a href="/info/race/turanic.htm">土朗尼掠劫者</a></li>
<li><a href="/info/race/kadesh.htm">卡地許</a></li>
<li><a href="/info/race/vaygr.htm">維格</a></li>
<li><a href="/info/race/progenitor.htm">先祖文明</a></li>
</ul>
<ul class="w4 o7">
<li><a href="/info/history/warof1sttime.htm">太初之戰</a></li>
<li><a href="/info/history/homeworld1.htm">回歸家園</a></li>
<li><a href="/info/history/cataclysm.htm">異獸危機</a></li>
<li><a href="/info/history/homeworld2.htm">星塵戰爭</a></li>
<li class="hr"></li>
<li><a href="/info/history/appendix_c_of_the_strategy_guide.htm">末日前奏</a></li>
</ul>
</li>
<li>考證
<ul class="w7">
<li><a href="/info/what/kushan.htm">庫沈</a></li>
<li><a href="/info/what/bentusi_weapon.htm">班圖西人武裝</a></li>
<li><a href="/info/what/names.htm">名詞典故</a></li>
<li><a href="/info/mis/scale.htm">船艦比例</a></li>
<li><a href="/info/history/chronicle.htm">年表</a></li>
<li><a href="/info/mis/hw2story.htm">萬艦二初期設定</a></li>
</ul>
</li>
<li>Mod
<ul class="w7">
<li><a href="/mod/modlist_hw.htm">萬艦齊發Mod</a></li>
<li><a href="/mod/modlist_cat.htm">地動天驚Mod</a></li>
<li><a href="/mod/modlist_hw2.htm">萬艦二Mod</a></li>
<li class="hr"></li>
<li><a href="/tutorial/tutorial_hw_cat.htm">萬艦/地動教學</a></li>
<li><a href="#">萬艦二教學</a></li>
</ul>
</li>
<li>下載
<ul class="w9">
<li><a href="#">修正檔/一般下載</a></li>
<li><a href="#">萬艦/地動Mod工具</a></li>
<li><a href="#">萬艦二Mod工具</a></li>
</ul>
</li>
<li><a href="#">連結</a></li>
</ul>
</nav>
</div>
</header>
<div class="wrapper">
<div class="{{head_ban.type}}">
<h1>{{title}}</h1>
<p>{{desc|markdown}}
</div>
</div>
<span class="clearfix"></span>
</div><!--ban-->

{% if content %}
<div id="content">
<div class="wrapper">
{{content|markdown}}
</div>
</div>
{% endif %}

<footer>
<div class="wrapper">
2001-{{ "now"|date("Y") }}, made by <a href="/cqd.htm">CQD</a> with love and passion, <a rel="license" href="https://creativecommons.org/licenses/by-nc/3.0/tw/">some rights reserved</a>
</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/j/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/j/main.js"></script>

<!-- Google Analytics -->
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>
{% endautoescape %}
