<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% autoescape %}
{% if site_title is not defined %}{% set site_title = title %}{% endif %}
{% if not main_image %}{% set main_image = 'banner1.jpg' %}{% endif %}
<head>
<meta charset="utf-8">
<title>{% if site_title %}{{site_title}} - {% endif %}西亞加拉宇宙載具改裝中心：萬艦齊發系列遊戲資料主題網站</title>
<meta name="keywords" content="萬艦齊發,卡拉克沙漠,地動天驚, Homeworld, Desert of Kharak, Cataclysm">
<meta name="description" content="萬艦齊發系列資訊繁體中文網站、有各種遊戲相關資料、MOD教學、以及相關下載。">

<meta name="og:title" content="{{title}}">
<meta name="og:site_name" content="西亞加拉宇宙載具改裝中心">
<meta name="og:description" content="{{desc}}">
<meta name="og:locale" content="zh_TW" />
<meta name="og:image" content="/i/{{main_image}}">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/c/normalize.min.css">
<link rel="stylesheet" href="/c/main.css">
<link rel="shortcut icon" href="/i/favicon.ico" />
<link rel="apple-touch-icon" href="/i/touch-icon.png" />
<style>#main_ban.ban:before{background-image: url('/i/{{main_image}}')}</style>

{% block header %}{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-368263-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-368263-1');
</script>

</head>
<body>
<div id="main_ban" class="ban {{head_ban.class|join(' ')}}">
<header>
<div class="wrapper">
<a id="logo_link" href="/"><img id="logo" src="/i/logo.png" height="50px"></a>
<nav role="navigation">
<ul>
<li>故事
<ul class="w7">
<li><a href="/info/race/kushan_hiigaran">庫沈/西亞加拉</a></li>
<li><a href="/info/race/taiidan">泰丹</a></li>
<li><a href="/info/race/bentusi">班圖西</a></li>
<li><a href="/info/race/turanic">土朗尼掠劫者</a></li>
<li><a href="/info/race/kadesh">卡地許</a></li>
<li><a href="/info/race/vaygr">維格</a></li>
<li><a href="/info/race/progenitor">先祖文明</a></li>
</ul>
<ul class="w5 o7">
<li><a href="/info/history/warof1sttime">太初之戰</a></li>
<li><a href="/info/history/desertofkharak">荒漠探索</a></li>
<li><a href="/info/history/homeworld1">回歸家園</a></li>
<li><a href="/info/history/cataclysm">異獸危機</a></li>
<li><a href="/info/history/homeworld2">星塵戰爭</a></li>
</ul>
</li>
<li>文件
<ul class="w7">
<li><a href="/info/history/homeworld1_manual_a">歷史與科技</a>
<li><a href="/info/history/appendix_c_of_the_strategy_guide">末日前奏</a></li>
<li class="hr"></li>
<li><a href="/concept_art/hw">萬艦齊發概念畫</a></li>
<li><a href="/concept_art/cat">地動天驚概念畫</a></li>
<li><a href="/concept_art/hw2">萬艦二概念畫</a></li>
</ul>
</li>
<li>考證
<ul class="w7">
<li><a href="/info/what/kushan">庫沈</a></li>
<li><a href="/info/what/bentusi_weapon">班圖西人武裝</a></li>
<li><a href="/info/what/names">名詞典故</a></li>
<li><a href="/info/mis/scale">船艦比例</a></li>
<li><a href="/info/history/chronicle">年表</a></li>
<li><a href="/info/mis/hw2story">萬艦二初期設定</a></li>
</ul>
</li>
<li>Mod
<ul class="w7">
<li><a href="/mod/modlist_hw">萬艦齊發Mod</a></li>
<li><a href="/mod/modlist_cat">地動天驚Mod</a></li>
<li><a href="/mod/modlist_hw2">萬艦二Mod</a></li>
<li class="hr"></li>
<li><a href="/tutorial/tutorial_hw_cat">萬艦/地動教學</a></li>
<li><a href="/tutorial/tutorial_hw2">萬艦二教學</a></li>
</ul>
</li>
<li>下載
<ul class="w9">
<li><a href="/download/general">修正檔/一般下載</a></li>
<li><a href="/download/modkit_hw_cat">萬艦/地動Mod工具</a></li>
<li><a href="/download/modkit_hw2">萬艦二Mod工具</a></li>
</ul>
</li>
<li><a href="/link">連結</a></li>
</ul>
</nav>
</div>
</header>
<div class="wrapper">
<div class="{{head_ban.type}}">
<h1>{{title}}</h1>
{{desc|markdown}}
</div>
</div>
<span class="clearfix"></span>
</div><!--ban-->

{% if content %}
<div id="content">
<div class="wrapper">
{% block content %}
{{content|markdown}}
{% endblock %}
</div>
</div>
{% endif %}

<footer>
<div class="wrapper">
2001-{{ "now"|date("Y") }}, made by <a href="https://cqd.tw">CQD</a> with love and passion, <a rel="license" href="https://creativecommons.org/licenses/by-nc/3.0/tw/">some rights reserved</a>
</div>
</footer>

<script async src="/j/main.js"></script>

</body>
</html>
{% endautoescape %}
